[matrix]
homeserver = "https://staging.matrix.ungleich.cloud"
room_id = "!jHFKHemgIAaDJekoxN:matrix-staging.ungleich.ch"

[user]
id = "@fnux:matrix-staging.ungleich.ch"
token = "secret"

[http]
port = 9088
address = "127.0.0.1"
